<div class="container">

    <br />
    <div class="col-md-6 col-md-offset-3">


        <div class="panel panel-default">
            <div class="panel-heading">Ticket Search</div>
            <div class="panel-body">

                <div class="form-inline">
                    <label for="email">Enter PNR:</label>
                    <input type="text" id="txtPnr" placeholder="HT00001" name="txtPnr" [(ngModel)]="TicketNo">

                    <button type="button" (click)="BindTicket()" >Submit</button>
                </div>



            </div>
        </div>
    </div>

</div>