<div class="container">
    <br />
    <br />
    <br />

    <h1>Terms and Conditions</h1>
    <hr />

    <h2>General terms & conditions</h2>

    <strong>Please Carry following documents compulsorily before boarding:</strong>
    <ul>
        <li>Travel Ticket (2 Copies – One copy is retained by us)</li>


        <li>Photo Identity Card (One Copy - Govt. Approved)</li>
        <li>Reporting time is 30 minutes before scheduled departure.</li>
        <li>The arrival & departure time mentioned on the ticket are tentative timings and may change due to
            unforeseen
            events. The coach will not leave the source before the time that is mentioned on the ticket.
        </li>
        <li>Seats Will Be Confirmed Only After Successful Payment. (Depending Upon Seat Availability).
        </li>
        <li>Management reserves the right to change the seat numbers.
        </li>
        <li>Ticket is neither transferable, nor refundable.
        </li>
        <li>Co-Seats of lady passenger to be confirmed to a lady passenger only.
        </li>
    </ul>
    <br/>
    <h2>Ticket cancellation / modification/Refund:</h2>

    <strong> Cancellation:</strong>
    <ul>




        <li> Cancellations are not entertained over phone
        </li>
        <li>Within 24 hours: No cancellation
        </li>
        <li>24-48 hours: 10% deduction
        </li>
        <li> Cancelled ticket amount is transferred back to the source, which means your credit / debit / net
            banking / cash card
            or mobile payment account. The cancelled ticket amount is refunded by the respective bank subject to
            terms and
            conditions of the bank. However, if you need any assistance for repayments you can contact our Head
            office.
        </li>
    </ul>
    <br/>
    <h2>
        Modification:
    </h2>
    <hr />
    <li>
        For any modification: Rs 10 per ticket
        Modification/changes to the origin and/or destination of travel and/or customer name, etc are not permitted on
        ticket.
        Refund:
    </li>
    <li> No-Refund less than 24 hrs before departure time</li>
    <li> No-Refund after departure.</li>
    <li>No-Refunds or Complaints will be entertained for passenger waiting for the Bus at an incorrect boarding
        point.
        The
        passenger is requested to confirm the exact boarding point and time with Himachal Travels well in advance.
        In case of valid reasons, refund will be done by producing proper PNR and identity proof by passenger to the
        satisfaction of operator.</li>
        <br/>
    <h2> Other facilities</h2>
    <hr/>
    <li>
        Video is an additional facility and not a condition
    </li>
    <li>In case AC unit fails, proportionate refund will be paid back from the Head Office.</li>
<br/>
    <h2>
        Baggage & luggage:
    </h2>
    <hr/>
    <li> Maximum 20kg of Baggage & Luggage is allowed per passenger. Above 20kgs is chargeable as per policies.
    </li>
    <li>Management is not responsible for any loss, theft or damages to the goods or property of the passenger.
    </li>
    <li>Luggage & Baggage is carried at your own risk.
    </li>
    <li>No Contraband articles are permitted to be carried by any passenger.</li>
    <br/>
    <h3>
        Other terms & conditions:
    </h3>
    <hr/>
    <li>
        Management is not responsible for delay and cancellation of trips on account of Breakdown, Accident, Riots etc.,
        and
        due to any unforeseen circumstances.
    </li>
    <li>In case of cancellation of a coach, proportionate refund will be paid back.
    </li>
    <li> In case of coach break-down, management is not responsible for any alternate transport arrangement, though
        management will try its best to provide another available coach.
        Pets, Animals, Birds are not permitted in the coach, and if found, the passenger is bound to be alighted (get
        out)
        from coach.
    </li>
    <li> Smoking and Drinking are not permitted inside the coach. Any implication to that effect, will be borne by
        passenger
        only.
    </li>
    <li> Passenger found disturbing the co-passenger, in a logical way, is liable to be alighted from the coach. However
        for
        further assistance or complaint please feel free to contact us.
    </li>
    <li> All transaction amount is in INR (Indian National Rupee)</li>
    <br/>
    <br/>
    <br/>
</div>