<div id="fh5co-tours" class="fh5co-section-gray">
    <div class="container" style="padding-top:-50;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center heading-section ">
          <h3>Top Faimaly Fackage</h3>
         
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 fh5co-tours" data-animate-effect="fadeIn">
          <div href="#">
            <img src="assets/images/Honeymoon.jpg" alt="Honeymoon Package" class="img-responsive">
            <div class="desc">
              <span></span>
              <h3>Best Honeymoon in Himachal</h3>
              <span>5 Nights, 6 Days +  Volvo Ticket + Hotel + Foods</span>
              <span>Privacy...</span>
              <span class="price">Rs. 25,000-60,000</span>
              <a class="btn btn-primary btn-outline" href="#">Read More... <i class="icon-arrow-right22"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 fh5co-tours" data-animate-effect="fadeIn">
          <div href="#">
            <img src="assets/images/family.jpg" alt="Family Package" class="img-responsive">
            <div class="desc">
              <span></span>
              <h3>Family Enjoyments with kids</h3>
              <span>5 Nights, 6 Days +  Volvo Bus Ticket + Hotel + Foods</span>
              <span>Husband & Wife + 2 Childs </span>
              <span class="price">Rs. 30,000-70,000</span>
              <a class="btn btn-primary btn-outline" href="#">Read More... <i class="icon-arrow-right22"></i></a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 col-sm-6 fh5co-tours" data-animate-effect="fadeIn">
          <div href="#">
            <img src="assets/images/shimla-wallpaper.jpg" alt="Office Trip Package" class="img-responsive">
            <div class="desc">
              <span></span>
              <h3>Official Trip Package</h3>
              <span>10 - 25 Members</span>
              <span>2 Nights, 3 days +  Volvo Bus + Hotel + Foods</span>
              <span class="price">Rs. 50,000-130,000</span>
              <a class="btn btn-primary btn-outline" href="#">Read More... <i class="icon-arrow-right22"></i></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-sm-6 fh5co-tours" data-animate-effect="fadeIn">
          <div href="#">
            <img src="assets/images/shimla-wallpaper.jpg" alt="Office Trip Package" class="img-responsive">
            <div class="desc">
              <span></span>
              <h3>Official Trip Package</h3>
              <span>26 - 50 Members</span>
              <span>2 Nights, 3 days +  Volvo Bus + Hotel + Foods</span>
              <span class="price">Rs. 100,000-250,000</span>
              <a class="btn btn-primary btn-outline" href="#">Read More... <i class="icon-arrow-right22"></i></a>
            </div>
          </div>
        </div>
  
      </div>
  
      <div class="row">
        <div class="col-md-6 col-sm-6 fh5co-tours" data-animate-effect="fadeIn">
          <div href="#">
            <img src="assets/images/shimla-wallpaper.jpg" alt="School Trip Package" class="img-responsive">
            <div class="desc">
              <span></span>
              <h3>School Trip Package</h3>
              <span>100 - 250 Students</span>
              <span>2 Nights, 3 days +  Volvo Bus + Hotel + Foods</span>
              <span class="price">Rs. 150,000-330,000</span>
              <a class="btn btn-primary btn-outline" href="#">Read More... <i class="icon-arrow-right22"></i></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-sm-6 fh5co-tours" data-animate-effect="fadeIn">
          <div href="#">
            <img src="assets/images/shimla-wallpaper.jpg" alt="School Trip Package" class="img-responsive">
            <div class="desc">
              <span></span>
              <h3>School Trip Package</h3>
              <span>251 - 500 Students</span>
              <span>2 Nights, 3 days +  Volvo Bus + Hotel + Foods</span>
              <span class="price">Rs. 300,000-700,000</span>
              <a class="btn btn-primary btn-outline" href="#">Read More... <i class="icon-arrow-right22"></i></a>
            </div>
          </div>
        </div>
  
      </div>
  
  
      <div class="row">
        <div class="col-md-6 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
          <div href="#">
            <img src="assets/images/shimla-wallpaper.jpg" alt="College/University Trip Package" class="img-responsive">
            <div class="desc">
              <span></span>
              <h3>College/University Trip Package</h3>
              <span>100 - 250 Students</span>
              <span>2 Nights, 3 days +  Volvo Bus + Hotel + Foods</span>
              <span class="price">Rs. 150,000-330,000</span>
              <a class="btn btn-primary btn-outline" href="#">Read More... <i class="icon-arrow-right22"></i></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
          <div href="#">
            <img src="assets/images/shimla-wallpaper.jpg" alt="College/University Trip Package" class="img-responsive">
            <div class="desc">
              <span></span>
              <h3>College/University Trip Package</h3>
              <span>251 - 500 Students</span>
              <span>2 Nights, 3 days +  Volvo Bus + Hotel + Foods</span>
              <span class="price">Rs. 300,000-700,000</span>
              <a class="btn btn-primary btn-outline" href="#">Read More... <i class="icon-arrow-right22"></i></a>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>