.tab-content .btn
{
    border: 1px solid !important;
}
.form-control
{
    font-size: 18px!important;
}
.nav-tabs .active a
{
    background-color: #004F9E!important;
}
.btn-primary
{
    background-color: #004F9E!important;
}
