<footer>
    <div id="footer">
      <div class="container">
        <div class="row row-bottom-padded-md">

          <div class="col-md-3 col-sm-2 col-xs-12 fh5co-footer-link">
            <h3>Top Bus Routes</h3>
            <ul>
              <li><a href="#">Delhi to Manali</a></li>
              <li><a href="#">Delhi to Shimla</a></li>
              <li><a href="#">Delhi to Leh-Laddakh</a></li>
              <li><a href="#">Delhi to Kufri</a></li>
              <li><a href="#">Delhi to Dharmashala</a></li>
              <li><a href="#">Delhi to Khajjiar</a></li>
              <li><a href="#">Delhi to Solang-Velley</a></li>
              <li><a href="#">Delhi to Rohtang-Pass</a></li>
              <li><a href="#">Delhi to Dalhousie</a></li>
              <li><a href="#">Delhi to Chail</a></li>
              <li><a href="#">Delhi to Chamba</a></li>
              <li><a href="#">Delhi to Chail</a></li>
              <li><a href="#">Delhi to Jwala Devi</a></li>
              <li><a href="#">Delhi to Kangda Devi</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-2 col-xs-12 fh5co-footer-link">
            <h3>Top Hotels</h3>
            <ul>
              <li><a href="#">Taj Theog Resort & Spa</a></li>
              <li><a href="#">Summit Le Royale Hotel</a></li>
              <li><a href="#">Snow Valley Resorts Shimla</a></li>
              <li><a href="#">Hotel Marina</a></li>
              <li><a href="#">Hotel Willow Banks</a></li>
              <li><a href="#">Amritara The Zion</a></li>
              <li><a href="#">The Oberoi Cecil, Shimla</a></li>
              <li><a href="#">Honeymoon Inn Shimla</a></li>
              <li><a href="#">Hotel Silverine</a></li>
              <li><a href="#">Kapil Hotel</a></li>
              <li><a href="#">Shimla Havens Resort</a></li>
              <li><a href="#">Hotel CK International</a></li>
              <li><a href="#">Suro Treehouse Resort</a></li>
              <li><a href="#">Marigold Sarovar Portico</a></li>


            </ul>
          </div>
          <div class="col-md-3 col-sm-2 col-xs-12 fh5co-footer-link">
            <h3>Interest</h3>
            <ul>
              <li><a href="#">Honeymoon and Romance</a></li>
              <li><a href="#">Family Travel</a></li>
              <li><a href="#">Office Party</a></li>
              <li><a href="#">Food &amp; Drink</a></li>
              <li><a href="#">Birthday Party</a></li>
              <li><a href="#">Anniversary</a></li>
              <li><a href="#">Play the Game</a></li>
              <li><a href="#">Climbing on Hills</a></li>
              <li><a href="#">Enjoying in River</a></li>
              <li><a href="#">Paragliding</a></li>
              <li><a href="#">Religious-Temples</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-2 col-xs-12 fh5co-footer-link">
            <h3>Best Places</h3>
            <ul>
              <li><a href="#">Manali</a></li>
              <li><a href="#">Kullu</a></li>
              <li><a href="#">Rohtang-Pass</a></li>
              <li><a href="#">Dharmshala</a></li>
              <li><a href="#">Shimla</a></li>
              <li><a href="#">Chail</a></li>
              <li><a href="#">Leh-Laddakh</a></li>
              <li><a href="#">Dalhousie</a></li>
              <li><a href="#">Chamba</a></li>
              <li><a href="#">Khajjiar</a></li>
              <li><a href="#">Kufri</a></li>

              <li><a href="#">Jwala ji Temple</a></li>
              <li><a href="#">Naina Devi Temple</a></li>
              <li><a href="#">Kangda Devi Temple</a></li>
              <li><a href="#">Chamunda Devi Temple</a></li>

            </ul>
          </div>

          <div class="col-md-3 col-sm-2 col-xs-12 fh5co-footer-link">
            <h3>Contacts</h3>
            <ul>
              <li>1-64, Majnu ka tila Opp Gurudwara majnu ka tila</li>
              <li>Delhi-110054, India</li>
              <li>+91 08527884477</li>
              <li>+91 08826220011</li>
              <li>+91 07835066785</li>
              <li>enquiry@himachaltravels.co.in</li>
              <li>http://himachaltravels.co.in</li>

            </ul>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 text-center">
            <p class="fh5co-social-icons">
              <a href="#"><i class="icon-youtube"></i></a>
              <a href="#"><i class="icon-facebook2"></i></a>
              <a href="#"><i class="icon-instagram"></i></a>
              <a href="#"><i class="icon-twitter2"></i></a>

            </p>
            <p> All Rights Reserved <a href="http://www.himachaltravels.co.in">Himachal Travels</a> <br>Designed &
              Developed by <i class="icon-heart3"></i> <a href="http://bathuasoft.com" target="_blank"> Bathua Soft
                Pvt. Ltd.</a> </p>

          </div>

          <div class="col-md-6 col-sm-6 text-center">

            <div id="sfc4kw52hqlxq1b57akrdd3rhpn1a2qtnj2"></div>
            <script type="text/javascript"
              src="https://counter9.wheredoyoucomefrom.ovh/private/counter.js?c=4kw52hqlxq1b57akrdd3rhpn1a2qtnj2&down=async"
              async></script><noscript><a href="https://www.freecounterstat.com" title="free hit counters"><img
                  src="https://counter9.wheredoyoucomefrom.ovh/private/freecounterstat.php?c=4kw52hqlxq1b57akrdd3rhpn1a2qtnj2"
                  border="0" title="free hit counters" alt="free hit counters"></a></noscript>

          </div>

        </div>
      </div>
    </div>
  </footer>